@import url('https://fonts.googleapis.com/css?family=Charmonman|Kalam|Marck+Script|News+Cycle|Noto+Serif+TC|Patrick+Hand|Roboto');
html, body{
	height:100%;
}

.default-bk{background:#448aff;}
.img-bg3{background-image:url('/assets/images/bk3.jpg');}

.search-container{width:100%;padding:15%;}
.search-container .msearch .form-control{height:48px;border-radius:0;border:0;}
.search-container .msearch .btn{border-radius:0;}
.search-container .msearch .form-control:focus{outline:none!important;box-shadow:none;}

.font-roboto{font-family: 'Roboto', sans-serif;}
.font-noto{font-family: 'Noto Serif TC', serif;}
.font-charmonman{font-family: 'Charmonman', cursive;}
.font-patrick{font-family: 'Patrick Hand', cursive;}
.font-kalam{font-family: 'Kalam', cursive;}
.font-marck{font-family: 'Marck Script', cursive;}
.font-news-cycle{font-family: 'News Cycle', sans-serif;}

@for $i from 8 through 64 {
  .font-#{$i}{font-size: 0px + $i;}

}

@for $i from 1 through 5 {
  .border-#{$i}{border:0px + $i solid #eee;}
  @each $item in ('top','bottom','left','right'){
  	.border-#{$item}-#{$i}{border-#{$item}:0px + $i solid #eee;}
  }
}

@media screen and(max-width:992px){
	.search-container{padding:2%;}
}

@media screen and(max-height:500px){
	.search-container{margin-bottom:50px;}
}